{% load static %}
<!doctype html>
<html lang="en">
<head>

    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<style>
    .background1{
        background-image: url("../../../images/images/poker_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }
</style>
<nav class="navbar navbar-dark">
    <a href="{% url 'pokerMain:index' %}" class="navbar-brand">CHOWDER POKER</a>
    <div class="navbar">
        <a href="{% url 'pokerMain:index' %}" class="nav-item nav-link" style="color: white">HOME</a>
        {% if user.is_authenticated %}
            <a href="{% url 'pokerMain:play_game'%}" class="nav-item nav-link" style="color: white">PLAY</a>
            <a href="{% url 'logout' %}" class="nav-item nav-link" style="color: white">LOGOUT</a>
        {% else %}
            <a href="{% url 'login' %}" class="nav-item nav-link" style="color: white">LOGIN</a>
            <a href="{% url 'register' %}" class="nav-item nav-link" style="color: white">REGISTER</a>
        {% endif %}
    </div>
</nav>
<body class="background1">
{% block body %}
    background-image: url("../images/images/poker table UTG.jpg");
{% endblock %}
</body>
</html>