 <div class="raise">
            <button type="button" style="width: 250%; font-size: 200%; font-weight: bold"
                    class="btn btn-success btn-lg" value="Raise" name="Raise" type="submit">RAISE</button>
        </div>
        <div class="fold">
            <button type="button" style="width: 250%; font-size: 200%; font-weight: bold"
                    class="btn btn-danger btn-lg" value="Fold" name="Fold" type="submit">FOLD</button>
        </div>






   <button style="width: 50%; height: 100%; margin-right: 5%; margin-left: 35%; margin-bottom: 1%;
             font-weight: bold" class="btn btn-success btn-lg" value="Raise" name="Raise" type="submit">RAISE</button>

            <button style="width: 50%; height: 100%; margin-left: 5%; margin-right: 35%; margin-bottom: 1%;
            font-weight: bold" class="btn btn-danger btn-lg" value="Fold" name="Fold" type="submit">FOLD</button>



  <form method='get' action='#'>
                <input  class="btn btn-success btn-lg"  style="width: 150%; height: 100%;  margin-left: 1250%; margin-bottom: 1%;
                 font-weight: bold" type="submit" value="Raise" name="Raise"/>
  </form>

 <form method='get' action='#'>
                <input  class="btn btn-danger btn-lg"  style="width: 150%; height: 100%; margin-left: 1800%; margin-bottom: 1%;
                 font-weight: bold" type="submit" value="Fold"  name="Fold"/>
 </form>